@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --light-bg: #ffffff;
    --light-text: #242424;
    --dark-bg: #121212;
    --dark-text: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.light-mode {
    background-color: var(--light-bg);
    color: var(--light-text);
}

.dark-mode {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

.dark-mode .navbar {
    background-color: #1e1e1e !important;
}

.dark-mode .card {
    background-color: #201f1f;
    border-color: #1a1a1a;
}

.dark-mode .card-body {
    color: var(--dark-text);
}

.dark-mode .form-control {
    background-color: #242424;
    color: var(--dark-text);
    border-color: #2a2a2a;
}

.dark-mode .btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.dark-mode .btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 1);
}

.navbar-dark .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
    color: rgba(255, 255, 255, 1);
}

.btn.rounded-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dark mode pagination */
.pagination-dark .page-item.active .page-link {
    background-color: #444 !important; /* Dark gray for active page */
    border-color: #444 !important;
    color: white !important;
    cursor: pointer;
    box-shadow: none !important;

  }
  
  .pagination-dark .page-link {
    background-color: #333 !important; /* Dark gray for other pages */
    color: white !important;
    border-color: #444 !important;
    cursor: pointer;
    box-shadow: none !important;

  }
  
   .pagination-dark .page-link:hover {
    background-color: #555 !important; /* Slightly lighter gray on hover */
    color: white !important;
    cursor: pointer;
    box-shadow: none !important;

  }
  
